<?xml version="1.0"?>
<config>
    <modules>
        <MeuPrime_Admin>
            <version>1.0.0</version>
        </MeuPrime_Admin>
    </modules>
    <frontend>
        <routers>
            <standard>
                <use>standard</use>
                <args>
                    <module>MeuPrime_Admin</module>
                    <frontName>meuprime</frontName>
                </args>
            </standard>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <meuprime_admin_capture_looid>
                        <type>singleton</type>
                        <class>meuprime_admin/observer</class>
                        <method>captureLooid</method>
                    </meuprime_admin_capture_looid>
                </observers>
            </controller_action_predispatch>

            <sales_order_save_after>
                <observers>
                    <meuprime_admin_order_confirmed>
                        <type>singleton</type>
                        <class>meuprime_admin/observer</class>
                        <method>orderConfirmed</method>
                    </meuprime_admin_order_confirmed>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MeuPrime_Admin before="Mage_Adminhtml">MeuPrime_Admin_Adminhtml</MeuPrime_Admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <meuprime_admin_setup>
                <setup>
                    <module>MeuPrime_Admin</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </meuprime_admin_setup>
        </resources>
        <helpers>
            <meuprime_admin>
                <class>MeuPrime_Admin_Helper</class>
            </meuprime_admin>
        </helpers>
        <models>
            <meuprime_admin>
                <class>MeuPrime_Admin_Model</class>
            </meuprime_admin>
            <shipping>
                <rewrite>
                    <shipping>MeuPrime_Admin_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <blocks>
            <meuprime_admin>
                <class>MeuPrime_Admin_Block</class>
            </meuprime_admin>
        </blocks>
    </global>

    <default>
        <shipping>
            <meuprime_admin>
                <enabled>0</enabled>
            </meuprime_admin>
        </shipping>
    </default>
</config>
